
.modal-container {
    display: flex;
    justify-content: center;
    height: 250px;
}
.mymodal {
  position: fixed;
  border: 1px solid #ccc;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  height: 100vh;
}

.modal-image {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(to right, #ebebeb calc(50% - 100px), #c5c5c5 50%, #ebebeb calc(50% + 100px));
  background-size:0;
  position:relative;
  overflow:hidden;
  border-bottom: solid 3px;
  transition: opacity 500ms ease-in-out;
}

.modal-image img {
    width: 100%;
    min-height: 50vh;
}

.modal-info {
    padding: 1.5em;
    background-color: #fef8f0;
    padding-top: 0.9em;
}

.modal-name {
    font-family: 'BEYNO';
    font-size: 2em;
    text-transform: uppercase;
    margin-top: .5em;
    margin-bottom: .5em;
}
.modal-fact {
    font-family: 'roboto';
    font-size: 1em;
    line-height: 180%;
}

.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fef8f0;
  z-index: 9999;
}

.modal-button {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  border-radius: 19px;
  z-index: 1000;
}
.modal-button:hover {
  opacity: 1;
}
.modal-button:before, .modal-button:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: white;
}
.modal-button:before {
  transform: rotate(45deg);
}
.modal-button:after {
  transform: rotate(-45deg);
}
.ReactModalPortal {
    height: 100%;
    transition: ease-out 500ms;
}
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
