.App {
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.confetti {
  z-index: -1;
}

.logo {
  margin: 3em;
}
.logo img {
  min-width: 10em;
}

.splashscreen {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #292a2e;
  border-radius: 2em;
  animation: fadeSplash ease 2s normal;
  animation-fill-mode: forwards;

  margin: auto;
  /* position: absolute; */
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
}

@keyframes fadeSplash {
  0% {
    z-index: 9999;
    opacity: 1;
    display: block;
  }

  25% {
    opacity: 1;
  }
  50% {
    z-index: 9999;
    opacity: 1;
  }
  75% {
    opacity: 0.75;
  }
  88% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeSplash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -999;
  }
}

@media only screen and (min-device-width: 481px) {
  /* For portrait layouts only */
  .splashscreen img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 79vh;
    width: 50vh !important;
  }
}
